
<div class="ui center aligned contact container">
    <h1 class="ui header">Contact Info</h1>
    <div class="ui massive list">
        <div class="item">
            <i class="icon large user"></i>
            <div class="content">
                Robert Koomjian
            </div>
        </div>
        <div class="item">
            <i class="icon large mail"></i>
            <div class="content">
                robkoomjian@gmail.com
            </div>
        </div>
        <div class="item">
            <i class="icon large marker"></i>
            <div class="content">
                Fresno, CA
            </div>
        </div>
        <div class="item">
            <i class="icon large mobile"></i>
            <div class="content">
                559-709-8587
            </div>
        </div>
    </div>    
</div>

<div class="ui center aligned message container">
    <h1 class="ui header"> Leave a Message </h1>
    <form class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name" required>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input type="number" name="phone" placeholder="Phone #">
            </div>
        </div>
        <div class="field">
            <label>Message</label>
            <textarea></textarea>
        </div>
    </form>
</div>